@(userId: String, secretToken: String)(implicit req: framework.Request[_])

@main("Reset Password") {
  <script src='@routes.AssetsController.versioned("svelte/auth/resetPassword.js")'></script>
  <link rel="stylesheet" href='@routes.AssetsController.versioned("svelte/auth/resetPassword.css")'>
  <div id="app"></div>

  <script>
    new ResetPassword.default({
      target: document.getElementById('app'),
      props: {
        userId: @Html(encode(userId)),
        secretToken: @Html(encode(secretToken)),
      }
    });
  </script>
}
