@()

@layout("Privacy Policy") {
  <div class="max-w-4xl mx-auto px-4 py-8 text-neutral-300">
    <h1 class="text-3xl font-bold mb-8">Privacy Policy: 25 Sep 2025</h1>
    <p class="mb-6">
      The privacy policy sets forth the terms and conditions governing the collection, utilization, and disclosure of personal information in connection with your access and use of our website and application. You hereby acknowledge and consent to the practices described in this privacy policy.</p>

    <h3 class="text-xl font-semibold mb-3 mt-6">Information Collection</h3>
    <p class="mb-4">
      We reserve the right to collect certain personally identifiable information, including but not limited to, your name, electronic mail address, and other contact details when you voluntarily submit such information.</p>

    <h3 class="text-xl font-semibold mb-3 mt-6">Use of Information</h3>
    <p class="mb-4">
      The personal information collected may be used for the following purposes: (i) responding to your inquiries, (ii) providing information regarding our products and services, and (iii) enhancing and optimizing the content and functionality of our offerings.</p>

    <h3 class="text-xl font-semibold mb-3 mt-6">Tracking Technologies</h3>
    <p class="mb-4">
      Our website and application employ cookies and various tracking technologies to gather information regarding your usage. Such information may encompass, without limitation, your Internet Protocol (IP) address, browser specifications, operating system details, and device information. This data is used to enhance the functionality and customize your user experience.</p>

    <h3 class="text-xl font-semibold mb-3 mt-6">Information Sharing</h3>
    <p class="mb-4">
      We shall not sell, lease, or otherwise transfer your personal information to third parties, except as mandated by applicable law or when necessary to fulfill your explicit requests.</p>

    <h3 class="text-xl font-semibold mb-3 mt-6">Security Measures</h3>
    <p class="mb-4">
      We implement commercially reasonable security measures designed to safeguard your personal information against unauthorized access, disclosure, or misuse.</p>


    <h3 class="text-xl font-semibold mb-3 mt-6">Policy Modifications</h3>
    <p class="mb-4">
      We retain the right to modify, amend, or update this policy at any time. Any such modifications shall be reflected in the date of last revision.</p>

    <h3 class="text-xl font-semibold mb-3 mt-6">Contact Information</h3>
    <p class="mb-4">
      For inquiries regarding this policy, please direct your correspondence to [EMAIL].</p>
  </div>
}
