@()

<!DOCTYPE html>
<html lang="en" data-theme="dracula">
  <head>
    <title>Unauthorized</title>
    <link rel="stylesheet" href="@routes.AssetsController.versioned("stylesheets/tailwindbase.css")">
    <link rel="shortcut icon" type="image/png" href="@routes.AssetsController.versioned("images/favicon.png")">
  </head>
  <body>
    <div class="hero bg-base-200 min-h-screen">
      <div class="hero-content text-center">
        <div class="max-w-md">
          <h1 class="text-5xl font-bold">Unauthorized</h1>
          <p class="py-6">
            Please contact your administrator for help. Thank you.
          </p>
        </div>
      </div>
    </div>
  </body>
</html>
